body {
  font-size: 1.2rem;
  margin: 0;
  height: 100vh;
  background: rgb(240, 163, 163);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.search-bar {
  width: 450px;
  height: 50px;
  border-radius: 15px;
  border: none;
  margin: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.search-bar:focus {
  outline: none;
}
.search-bar::placeholder {
  font-size: 1.2rem;
  padding-inline: 10px;
}
ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border: 1px solid #ccc;
  background: white;
  width: 450px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 0;
  margin: 0;
  > li {
    align-self: center;
    width: 400px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
  }
}
